* {    
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
    background: url('../images/background.svg') no-repeat center center; 
    background-size: cover;
    padding: 40px 0;
}

#form {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    background-color: hsla(0, 0%, 100%, 0.75);
    padding: 50px;
}

label {
    display: block;
}

input, textarea, select {
    width: 100%;
    height: 45px;
    border: 6px black solid;
    box-shadow: 5px 5px hsla(0, 0%, 0%, 0.2);
}

textarea {
    height: 100px;
}

/* hide the spinners of the number input */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

#avatars {
    display: block;
}

.colours, .sports, .animals {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px 15px;
    justify-items: stretch;
    justify-content: stretch;
}

.colour, .sport, .animal {
    width: 100%;
    aspect-ratio: 1 / 1;
}

.purple {
    background-color: hsla(271, 44%, 75%, 1);
}

.green {
    background-color: hsla(81, 63%, 78%, 1);
}

.red {
    background-color: hsla(0, 84%, 62%, 1);
}

.blue {
    background-color: hsla(180, 56%, 81%, 1);
}

.orange {
    background-color: hsla(22, 84%, 65%, 1);
}

.yellow {
    background-color: hsla(55, 100%, 80%, 1);
}

.pink {
    background-color: hsla(0, 100%, 94%, 1);
}

.denim {
    background-color: hsla(194, 94%, 26%, 1);
}

.sports img, .animals img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; /* removes blank space at bottom */
    
}