* {    
    box-sizing: border-box;
    --ff-headings: 'Signika', sans-serif;
    --ff-body: 'Montserrat', sans-serif;
    --fs-large: 2rem;
    --fs-medium: 1rem;
    --fs-small: 0.85rem;
}

html, body {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
    background: url('../images/background.svg') no-repeat center center; 
    background-size: cover;
    padding: 40px 0;
}

#form {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    background-color: hsla(0, 0%, 100%, 0.75);
    padding: 50px;
}

label {
    display: block;
}

input, textarea, select {
    width: 100%;
    height: 45px;
    border: 6px black solid;
    box-shadow: 5px 5px hsla(0, 0%, 0%, 0.2);
}


button#submit {
    width: 100%;
    height: 60px;
    border: 6px black solid;
    padding: 5px;
    background-color: black;
    color: white;
    box-shadow: 5px 5px hsla(0, 0%, 0%, 0.2);
    font-family: var(--ff-headings);
    font-weight: 700;
    font-size: var(--fs-large);
}

textarea {
    height: 100px;
}

/* hide the spinners of the number input */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

#avatars {
    border-radius: 50%;
    display: block;
    margin-bottom: 25px;
}

.colours, .sports, .animals {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px 15px;
    justify-items: stretch;
    justify-content: stretch;
    margin-bottom: 35px;
}

.colour, .sport, .animal {
    width: 100%;
    aspect-ratio: 1 / 1;
}

.purple {
    background-color: hsla(271, 44%, 75%, 1);
}

.green {
    background-color: hsla(81, 63%, 78%, 1);
}

.red {
    background-color: hsla(0, 84%, 62%, 1);
}

.blue {
    background-color: hsla(180, 56%, 81%, 1);
}

.orange {
    background-color: hsla(22, 84%, 65%, 1);
}

.yellow {
    background-color: hsla(55, 100%, 80%, 1);
}

.pink {
    background-color: hsla(0, 100%, 94%, 1);
}

.denim {
    background-color: hsla(194, 94%, 26%, 1);
}

.sports img, .animals img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; /* removes blank space at bottom */
    
}

h1#title {
    font-family: var(--ff-headings);
    font-weight: 700;
    font-size: var(--fs-large);
    margin-bottom: 15px;
}

p#intro {
    font-family: var(--ff-body);
    font-size: var(--fs-small);
    margin-bottom: 25px;
}

label {
    font-family: var(--ff-headings);
    font-size: var(--fs-medium);
    margin-bottom: 10px;
}

input, textarea, select, option {
    font-family: var(--ff-body);
    font-size: var(--fs-small);
    margin-bottom: 25px;
}
